.container img {
    cursor: pointer; 
}

#logo {
    width: 65px;
    /* padding: 20px 0 0 0; */
}
/* #logo-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
} */

#logo-container {
    display: table;
    vertical-align: middle;
}

#modal-content {
    padding:0;
    height:624px;
    display: grid;
    margin: 0;
    grid-template-columns: 495px auto;
}

#image-container {
    height:624px;
}

.comment-form {
    /* position: absolute; */
    width: 380px;
    margin: 0 auto;
    margin-top: 470px;
}

ul {
    list-style-type: none;
}

li:before {
    content: '\1F4AC';
    margin-left: -20px;
    margin-right: 10px;
}
/* 
#current-user {
    visibility: hidden;
} */